
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">TABLA DE AMORTIZACIÓN</a>
    <form class="d-flex">
      <button class="btn btn-outline-success" routerLink="/login">Iniciar Sesión</button>
    </form>
  </div>
</nav>

<div class="container">
  <div class="row">
    <!--Seleccionar entidad financiera-->
    <div class="col col-lg-4">
      <div class="col">
        <p class="text-white">Entidad Financiera:</p>
      </div>
      <div class="col">
        <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedEntidad" (change)="cargarTiposPrestamo()">
          <option value="">Selecciona una entidad financiera</option>
          <option *ngFor="let entidad of entidadesFinancieras" [value]="entidad.id">{{ entidad.NOMBRE }}</option>
        </select>
      </div>
    </div>
    
    <!-- Seleccionar préstamo -->
    <div class="col col-lg-4">
      <div class="col">
        <p class="text-white">Tipo de préstamo</p>
      </div>
      <div class="col">
        <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedTipo">
          <option value="">Selecciona un tipo de préstamo</option>
          <option *ngFor="let tipo of tiposPrestamo" [value]="tipo.valor">{{ tipo.tipo }}</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Porcentaje correspondiente al tipo de préstamo seleccionado -->
  <div *ngIf="selectedTipo && entidadSeleccionada">
    <input type="text" [value]="obtenerPorcentaje(selectedTipo)" readonly>
  </div>


  <div class="row">
    <!--Seleccionar tiempo en años-->
    <div class="col col-lg-4">
      <div class="col">
        <p class="text-white">Tiempo</p>
      </div>
      <div class="col">
        <select class="form-select" aria-label="Default select example">
          <option selected>Selecciona un tiempo en años</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <!--Seleccionar tipo de amortización-->
    <div class="col col-lg-4">
      <div class="col">
        <p class="text-white">Tipo de amortización</p>
      </div>
      <div class="col">
        <select class="form-select" aria-label="Default select example">
          <option selected>Selecciona un tipo de amortización</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <!--Boton de calculo-->
    <div class="col col-lg-4">
      <button class="btn btn-success" type="submit">Calcular</button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <!--tabla de amortización-->
      <div class="p-3">
        <table class="table table-light">
          <thead>
            <tr>
              <th scope="col">Mes</th>
              <th scope="col">Cuota</th>
              <th scope="col">Interés</th>
              <th scope="col">Capital</th>
              <th scope="col">Saldo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
                <td>@mdo</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      </div>
    </div>
    
  



