<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">TABLA DE AMORTIZACIÓN</a>
    <form class="d-flex">
      <button class="btn btn-outline-success" routerLink="/login">Iniciar Sesión</button>
    </form>
  </div>
</nav>

<div class="container">
  <div class="row">
    Seleccionar entidad financiera
    <div class="col col-lg-4">
      <div class="col">
        <p class="text-white">Entidad Financiera:</p>
      </div>
      <div class="col">
        <select class="form-select" aria-label="Default select example" (change)="onSelectEntidadFinanciera($event)">
          <option selected>Selecciona una Entidad Financiera</option>
          <option *ngFor="let entidad of entidadFinancieraData" [value]="entidad.id">{{ entidad.NOMBRE }}</option>
        </select>
      </div>
    </div>
    
    Seleccionar préstamo
    <div class="col col-lg-4">
      <div class="col">
        <p class="text-white">Tipo de préstamo</p>
      </div>
      <div class="col">
        <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedValue">
          <option selected>Selecciona una Entidad Financiera</option>
          <option *ngFor="let key of getKeys(opcionesPrestamo)" [value]="key">{{ opcionesPrestamo[key] }}</option>
        </select>
      </div>
    </div>
  </div>
  
  <form action="">
    <div *ngIf="selectedEntidadFinanciera">
      <h2 style="color: white">Datos de {{ selectedEntidadFinanciera.NOMBRE }}:</h2>
      <div *ngFor="let data of getSelectedEntidadFinancieraData()">
        <p style="color: white" (click)="selectedPorcentaje = data.key; selectedDataValue = data.value" *ngIf="data.key === selectedValue">{{ data.key }}: {{ data.value }}</p>
      </div>
      
          </div>
  </form>


  <!-- Porcentaje correspondiente al tipo de préstamo seleccionado 
  <div *ngIf="selectedTipo && entidadSeleccionada">
    <input type="text" [value]="obtenerPorcentaje(selectedTipo)" readonly>
  </div>
-->

  <div class="row">
    <!--Seleccionar tiempo en años-->
    <div class="col col-lg-4">
      <div class="col">
        <p class="text-white">Tiempo en Años</p>
      </div>
      <div class="col">
        <input type="number" [(ngModel)]="anios" id="tiempo" class="form-control" placeholder="Ingrese un año no mayor a 25" aria-label="Default select example">
      </div>

          <!--Seleccionar Monto-->
    <div class="col col-lg-4">
      <div class="col">
        <p class="text-white">Monto del Prestamo</p>
      </div>
      <div class="col">
        <input type="number" [(ngModel)]="monto" id="monto" class="form-control" placeholder="Ingrese el monto que desea $" aria-label="Default select example">
      </div>
    
    <!--Seleccionar tipo de amortización-->
    <div class="col col-lg-4">
      <div class="col">
        <p class="text-white">Tipo de amortización</p>
      </div>
      <div class="col">
        <select class="form-select" [(ngModel)]="tipoAmortizacion" (change)="seleccionarTipoAmortizacion()">
          <option selected>Selecciona un tipo de amortización</option>
          <option value="1">Francesa</option>
          <option value="2">Alemana</option>
        </select>
        
      </div>
    </div>
    <!--Boton de calculo-->
    <div class="col col-lg-4">
      <button class="btn btn-success" type="submit" (click)="seleccionarTipoAmortizacion()">Calcular</button>
    </div>
    
  </div>

  <div class="row">
    <div class="col">
      <!--tabla de amortización-->
      <div class="p-3">
        <table class="table table-light">
          <thead>
            <tr>
              <th scope="col">Mes</th>
              <th scope="col">Cuota</th>
              <th scope="col">Interés</th>
              <th scope="col">Capital</th>
              <th scope="col">Saldo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fila of amortizacion">
              <th scope="row">{{ fila.mes }}</th>
              <td>{{ fila.cuota }}</td>
              <td>{{ fila.interes }}</td>
              <td>{{ fila.capital }}</td>
              <td>{{ fila.saldo }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>