.toolbar{
    color: d55Color;
    background-color: whiteColor;
    display: flex;
    justify-content: center;
  }

  .example-icon {
    padding: 0px;
  }
  
  .example-spacer {
    flex: auto;
  }
  
