<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">ENTIDADES FINANCIERAS</a>

    <div>
      <a class="navbar-brand">ADMIN</a>
      <button class="btn btn-outline-success" routerLink="/">Salir</button>
  </div>
  </div>
</nav>

<div class="row">
  <div class="col col-lg-4">
<div class="p-3 ">
  <table class="table table-light">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Entidad Financiera</th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td><button type="button" class="btn btn-success">Right</button></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td><button type="button" class="btn btn-success">Right</button></td>
        </tr>
      
      </tbody>
    </table>
  </div>
  </div>

  <div class="col col-lg-6">
      <div class="p-3 ">
        <table class="table table-light">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Comercial</th>
                <th scope="col">Estuadiantil</th>
                <th scope="col">Microcredito</th>
                <th scope="col">el otro</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Estudiantil</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@twitter</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat </td>
                <td>@twitter</td>
                
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
                <td>@twitter</td>
              </tr>
              
            </tbody>
          </table>
      </div>
      </div>

</div>

