
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">BANCO</a>
      
      <div>
        <a class="navbar-brand">ASESOR</a>
        <button class="btn btn-outline-success" routerLink="/">Salir</button>
    </div>
    </div>
  </nav>
 
<!-- botom modal-->
<div class="row justify-content-end">
<div class="col col-md-2 align-self-end">
  <div class="p-3">
      <button type="button" (click)="openFormModal()" class="btn btn-primary">
          Modificar Interés
        </button>
  </div>
</div> 
</div>

<div class="container">

    <div class="row">
 
       <!--Seleccionar préstamo-->
       <div class="col col-lg-4 "> 
        <div class="col">
           <p class="text-white">Tipo de préstamo</p>
           </div>
         <div class="col">
          <select class="form-select" aria-label="Default select example" (change)="capturarPrestamo()" [(ngModel)]="opcionPrestamo">
            <option selected>Seleccionar prestamo</option>
            <option value="1">Consumo</option>
            <option value="2">Microcrédito</option>
            <option value="3">Vivienda</option>
            <option value="4">Estudiantil</option>
           </select>
         </div>
     </div>
       <!--Seleccionar tiempo en años-->
       <div class="col col-lg-4 "> 
        <div class="col">
        <p class="text-white">Tiempo en años</p>
        </div>
      <div class="col">
        <input type="number" class="form-control" id="validationDefault01" value=""  [(ngModel)]="tiempo"  required>
      </div>

  </div>

  
 </div> 




    <div class="row">
       
      <!--Seleccionar tipo de amortización-->
       <div class="col col-lg-4"> 
        <div class="col">
          <p class="text-white">Tipo de amortización</p>
        </div>
        <div class="col">
            <select class="form-select" aria-label="Default select example" (change)="capturarAmortizacion()" [(ngModel)]="opcionAmortizacion">
                <option selected>Tipo de Amortización</option>
                <option value="1">Alemana</option>
                <option value="2">Francesa</option>
               </select>
       </div>
      </div>
      <!--monto -->
      <div class="col col-lg-4 "> 
        <div class="col">
        <p class="text-white">Monto</p>
        </div>
      <div class="col">
        <input type="number" [(ngModel)]="monto" id="monto" class="form-control" placeholder="Ingrese el monto que desea $" aria-label="Default select example">
      </div>

  </div>

      <!--Boton de calculo-->
      
      <div class="col col-lg-4"> 
        <div class="p-4">
        <button class="btn btn-success" type="button" (click)="llenarTabla()">Calcular</button>
       
      </div>
    </div>
      </div>

     <div class="row">
        
      <div class="col">

        <!--tabla de amortización-->
        <div class="p-3 ">
        <table class="table table-light" id="miTabla">
            <thead>
              <tr>
                <th scope="col">Mes</th>
                <th scope="col">Cuota</th>
                <th scope="col">Interés</th>
                <th scope="col">Capital</th>
                <th scope="col">Saldo</th>
              </tr>
            </thead>
            <tbody id="body">
              <tr *ngFor="let fila of amortizacion">
                <th scope="row">{{ fila.mes }}</th>
                <td>{{ fila.cuota }}</td>
                <td>{{ fila.interes }}</td>
                <td>{{ fila.capital }}</td>
                <td>{{ fila.saldo }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      </div>
</div>
    
<!-- botom reporte-->
<div class="row justify-content-end">
  <div class="col col-md-2 align-self-end">
    <div class="p-3">
        <button type="button"  class="btn btn-secondary" (click)="onImprimir()">
            Sacar Reporte
          </button>
    </div>
  </div> 
  </div>


        <!-- Modal -->
        <div
        class="modal fade"
        id="myModal" 
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modificar Interés</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
                <!--comienzo de form-->
                <form class="row">
                    <div class="col col-md-6">
                      <label for="validationDefault01" class="form-label">Consumo</label>
                      <input type="text" class="form-control" id="validationDefault01" value="" required>
                    </div>
                    
                    <div class="col col-md-6">
                        <label for="validationDefault01" class="form-label">Microcrédito</label>
                        <input type="text" class="form-control" id="validationDefault01" value="" required>
                      </div>

                      <div class="col col-md-6">
                        <label for="validationDefault01" class="form-label">Vivienda</label>
                        <input type="text" class="form-control" id="validationDefault01" value="" required>
                      </div>

                    <div class="col col-md-6">
                      <label for="validationDefault01" class="form-label">Estudiantil</label>
                      <input type="text" class="form-control" id="validationDefault01" value="" required>
                    </div>
                   
                  </form>

              <!--fin de from-->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                Cancelar
              </button>
              <button type="button" class="btn btn-primary" (click)="saveSomeThing()">
                Guardar Cambios
              </button>
            </div>
          </div>
        </div>
      </div>
      